html {
background-color : #ffffff;
}
img {border:0px;}
body {
font-family: Arial, Verdana, Helvetica, sans-serif;
margin: 0 auto;
}
#logo {text-align: center; margin: 0 auto; padding: 5px 15px 15px 15px;}
.title {padding : 5px 0px 5px 0px; border-bottom:1px solid #cccccc; font-size : 18px;}
.title2 {padding : 5px 0px 5px 0px; font-size : 16px;}
#seite {
background-color : #cccccc;
  background-image:url(../../images/system/installh.png); 
  background-repeat:repeat-x; 
  background-position:top center;
font-size: 15px;
text-align: left;
width:600px;
box-shadow: 0px 0px 15px #000000;
border-radius: 30px;
margin: 0 auto;
padding: 5px 15px 5px 15px;
}
#footer {
position:static;
padding: 5px 15px 5px 15px;
font-size: 12px;
text-align: center;
opacity: 0.7;
margin: 0 auto;
}
#footer img {float:left;}
.text {line-height: 60px;}
#footer a:link {color:#000000; text-decoration:none;}
#footer a:visited {color:#000000; text-decoration:none;}
#footer a:focus {color:#000000; text-decoration:none;}
#footer a:hover {color:#000000; text-decoration:underline;}
#footer a:active {color:#000000; text-decoration:none;}
#seite a:link    {color: #414141;  text-decoration:none; border-bottom:1px solid #656565;}
#seite a:visited {color: #414141;  text-decoration:none; border-bottom:1px solid #656565;}
#seite a:focus   {color: #414141;  text-decoration:none; border-bottom:1px solid #656565;}
#seite a:hover   {color: #000000;  text-decoration:none; border-bottom:1px solid #000000;}
#seite a:active  {color: #414141;  text-decoration:none; border-bottom:1px solid #656565;}
