html {color: #000000; font-size : 14px; font-family : Arial, Verdana, Helvetica, sans-serif; text-align : center; background-color : #ffffff; margin : 0 auto; }
body {background-image : url(../../images/system/h.png); background-repeat : repeat;
 background-position : center top; text-align : center; background-color : #ffffff; 
 min-width:1000px; max-width:90%; color:#000000; margin : 0 auto; padding : 10px 10px 10px 10px; 
 -moz-box-shadow: 0px 0px 15px #cccccc; -webkit-box-shadow: 0px 0px 15px #cccccc; box-shadow: 0px 0px 15px #cccccc; border-bottom-right-radius: 5px;
 border-bottom-left-radius: 10px; border-top-right-radius: 10px; border-top-left-radius: 5px; border:1px solid #666666; }
 .text {background-color : #ffffff; margin:5px; padding:5px; border-radius: 5px;}
a:link    {color: #414141;  text-decoration:none; border-bottom:1px solid #656565;}
a:visited {color: #414141;  text-decoration:none; border-bottom:1px solid #656565;}
a:focus   {color: #414141;  text-decoration:none; border-bottom:1px solid #656565;}
a:hover   {color: #000000;  text-decoration:none; border-bottom:1px solid #000000;}
a:active  {color: #414141;  text-decoration:none; border-bottom:1px solid #656565;}
